<!-- templates/index.html -->
<!DOCTYPE html>
{% load static %}
{% load react_bundle %}
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DogShop</title>
  <link rel="icon" type="image/png" href="{% static 'img/icons8-favicon-50.png' %}" />
  {% get_react_bundle %}
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>

  <div style="text-align: center; padding: 1rem;">
    <a href="https://github.com/andreipython229" target="_blank" rel="noopener noreferrer">
      Git Hub
    </a>
  </div>
</body>
</html>
